@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="images/espresso.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Espresso</h5>
                <p class="card-text">An espresso is a small volume of concentrated coffee, extracted under pressure with water at no more than 98 degrees celsius.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="images/cappuccino.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cappuccino</h5>
                <p class="card-text">A cappuccino starts with the espresso but this is topped with milk textured (frothed) to no more than 65 degrees celsius.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="images/latte.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Latte</h5>
                <p class="card-text">A Latte or Cafe con Latte is made the same way as a cappuccino except that it is served in a larger 220 ml glass and only has 10mm of foam.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>